<div>
    <div>       
    </div>
    <form (ngSubmit)="onSubmit(form.value)" [ngFormModel]="form">
        <div *ngFor="#bookmarkOption of bookmarkOptions">
            <bm-option [bookmarkOption]="bookmarkOption" [form]="form"></bm-option>
        </div>
    </form>
    <button class="btn btn-warning" (click)="onBackClicked()"><span class="glyphicon glyphicon-backward"></span> Back</button>
    <button class="btn btn-primary" (click)="onCopyClicked()"><span class="glyphicon glyphicon-copy"></span> Copy</button>
</div>