.navbar-height-lg{
    min-height: 100px;
}

.navbar-height-std{
    min-height: 70px;
}

.top-buffer-std{
    margin-top: 10px;
}

.buttom-buffer-std{
    margin-bottom: 10px;
}

.left-buffer-std{
    margin-left: 10px;
}

.right-buffer-std{
    margin-right: 10px;
}

img.logo {
    max-width: 140%;
    max-height: 140%;
}

a.router-link-active {
   font-weight:600
}

.ctrl-width-std {
    width: 85% !important
}

